<body>

 @*    @{
        ViewData["Title"] = "Home";
    } *@
    <h1>Welcome to Shelburne Memorials</h1>
    <a id="menu-toggle" class="menu-toggle"><i class="bi bi-list"></i></a>


@*     <div class="container dashboard">
        <div class="row text-center">
            <div class="col-6 col-sm-6 col-md-5 col-lg-5 col-xl-5 mb-4">
                <div class="card col-colour">
                    <div class="card-body text-center">
                       <div class="numbers">
                            <p class="accent-colour">262</p>
                        </div>
                            <p class="medium-header"Confirmation"</p>
                    </div>
                </div>
            </div>
 *@            @* <div class="col-6 col-sm-6 col-md-5 col-lg-5 col-xl-5 mb-4">
                <div class="card col-colour">
                    <div class="card-body text-center">
                        <div class="numbers">
                            <p class="accent-colour">75</p>
                        </div>
                        <p class="medium-header">Invoice</p>
                    </div>
                </div>
            </div> *@
  @*       </div>
        </div> *@
</body>
