@model ShelburneMemorialWeb.ViewModels.StoneInformationVM
@{
    ViewData["Title"] = "Stone Information";

}
<h1> Stone Information
</h1>

<label>Cemetary   : &nbsp;&nbsp  </label>
<input id="ConfirmationCemetary" name="ConfirmationCemetary" />
<br />
<label>Section   : &nbsp;&nbsp  </label>
<input id="CemetarySection" name="CemetarySection" />
<label>Plot   : &nbsp;&nbsp  </label>
<input id="CemetaryPlot" name="CemetaryPlot" />
<label>Row   : &nbsp;&nbsp  </label>
<input id="CemetaryRow" name="CemetaryRow" />
<label>Grave   : &nbsp;&nbsp  </label>
<input id="CemetaryGrave" name="CemetaryGrave" />

<br/>
<label>Foundation  </label>
<br />

<label>Size of Foundaion   Length : &nbsp;&nbsp  </label>
<input id="FoundationLengthFeet" name="FoundationLengthFeet" />


<label> Ft :&nbsp;&nbsp;</label>
<input id="FoundationLengthInches" name="FoundationLengthInches" />
<label>In  X Width &nbsp;&nbsp</label>
<input id="ConfirmationFoundationWidthFeet" name=" ConfirmationFoundationWidthFeet" />
<label>  Ft &nbsp;&nbsp</label>
<input id="ConfirmationFoundationWidthInches" name=" ConfirmationFoundationWidthInches" />
<label>  In &nbsp;&nbsp</label>
<br />
<label>Centre On  :&nbsp;&nbsp;</label>
<input id="FoundationLengthInches" name="FoundationLengthInches" />
<br />
<label>  Left  :&nbsp;&nbsp;</label>
<input id="ConfirmationFoundationLeft" name="ConfirmationFoundationLeft" />
<label>  Right  :&nbsp;&nbsp;</label>
<input id="ConfirmationFoundationRight" name="ConfirmationFoundationRight" />
<br />
<br />
<label>  Flat Marker &nbsp;&nbsp;</label>
<label>  Polished Die Stone :&nbsp;&nbsp;</label>
<input id="ConfirmationMarkerDieStone" name="ConfirmationMarkerDieStone" />
<br />
<label> Material:   Granite :&nbsp;&nbsp;</label>
<input id="ConfirmationMarkerGranite" name="ConfirmationMarkerGranite" />
<label>  Bronze :&nbsp;&nbsp;</label>
<input id="ConfirmationMarkerBronze" name="ConfirmationMarkerBronze" />
<label>  Other :&nbsp;&nbsp;</label>
<input id="ConfirmationMarkerOther" name="ConfirmationMarkerOther" />
<br />
<label>  Size Length :&nbsp;&nbsp;</label>
<input id="MarkerSizeLengthInches" name="MarkerSizeLengthInches" />
<label>  Inches   Width :&nbsp;&nbsp;</label>
<input id="MarkerSizeWidthInches" name="MarkerSizeWidthInches" />
<label>  Inches   Thicknes :&nbsp;&nbsp;</label>
<input id="MarkerSizeThicknessInches" name="MarkerSizeThicknessInches" />

<br />
<label> Base Size Length :&nbsp;&nbsp;</label>
<input id="MarkerBaseSizeHeigthInches" name="MarkerBaseSizeHeigthInches" />
<label>  Inches   Width :&nbsp;&nbsp;</label>
<input id="MarkerBaseSizeWidthInches" name="MarkerBaseSizeWidthInches" />
<label>  Inches   Thicknes :&nbsp;&nbsp;</label>
<input id="MarkerBaseSizeThicknessInches" name="MarkerBaseSizeThicknessInches" />

<br />
<label> Flush with Ground :&nbsp;&nbsp;</label>
<input id="MarkerFlushWithGround" name="MarkerFlushWithGround" />
<label>  Inches   Width :&nFlush withGround in Cement &nbsp;&nbsp;</label>
<input id="MarkerFlushWithGroundCement" name="MarkerFlushWithGroundCement" />
<label> Raised in Cement :&nbsp;&nbsp;</label>
<input id="MarkerRaisedInCement" name="MarkerRaisedInCement" />

<br />

<br />
<label>Slope / Slant &nbsp;&nbsp;   Base Ground Level</label>


<br />  Polish  :  &nbsp;&nbsp;</label>
<input id="SlopePolish" name="SlopePolish" />
<label> Sides    Die Size    Length : &nbsp;&nbsp;</label>
<input id="SlopeDieSizeLengthInches" name="SlopeDieSizeLengthInches" />
<label> Inch    Width  &nbsp;&nbsp;</label>
<input id="SlopeDieSizeWidhtInches" name="SlopeDieSizeWidhtInches" />
<label> Inch    Height  &nbsp;&nbsp;</label>
<input id="SlopeDieSizeHeightInches" name="SlopeDieSizeHeightInches" />

<br />
<label>                     Granite Base Size  : &nbsp;&nbsp;</label>
<input id="GraniteSizeLengthInches " name="GraniteSizeLengthInches " />

<label> Inch    Width  &nbsp;&nbsp;</label>
<input id="GraniteSizeWidthInches" name="GraniteSizeWidthInches" />
<label> Inch    Height  &nbsp;&nbsp;</label>
<input id="GraniteSizeHeightInches" name="GraniteSizeHeightInches" />
<br />
<br />
<label>Upright Monument &nbsp;</label>

<br />
<label> Polish Die Stone &nbsp;&nbsp;</label>
<input id="PolishedDieStone" name="PolishedDieStone" />
<br />
<label> Base Length &nbsp;&nbsp;</label>
<input id="MonumentBaseLengthInches" name="MonumentBaseLengthInches" />

<label> Inches    Base Height &nbsp;&nbsp;</label>
<input id="MonumentBaseHeightInches" name="MonumentBaseHeightInches" />

<label> Inches    Base Width &nbsp;&nbsp;</label>
<input id="MonumentBaseWidthInches" name="MonumentBaseWidthInches" />

<br />
<label> Die Stone  &nbsp;&nbsp;</label>
<input id="DieStoneLengthInches" name="DieStoneLengthInches" />

<label> Inches    Base Height &nbsp;&nbsp;</label>
<input id="DieStoneHeightInches" name="DieStoneHeightInches" />

<label> Inches    Base Width &nbsp;&nbsp;</label>
<input id="DieStoneLengthInches" name="DieStoneLengthInches" />


<br />
<label> Comment  &nbsp;&nbsp;</label>
<input id="ConfirmationComment" name="ConfirmationComment" />
